<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- BEGIN GAME-SPECIFIC -->

	<key>CFBundleName</key>
	<string>Gravity</string>

	<key>CFBundleDisplayName</key>
	<string>Gravity</string>

	<key>CFBundleIdentifier</key>
	<string>org.cheeseandbacon.gravity</string>

	<key>CFBundleVersion</key>
	<string>0.0.2</string>

	<key>CFBundleShortVersionString</key>
	<string>0.0.2</string>

	<!-- END GAME-SPECIFIC -->

	<key>CFBundleExecutable</key>
	<string>game</string>

	<key>CFBundleIconFile</key>
	<string>icon.icns</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleSignature</key>
	<string>????</string>

	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
</dict>
</plist>
